{
    "printWidth": 170,
    "singleQuote": true,
    "trailingComma": "es5",
    "useTabs": false,
    "parser": "flow",
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "overrides": [
        {
            "files": ["*.js", "*.json"],
            "options": {
                "parser": "flow"
            }
        }
    ]
  }